@media (max-width: 1024px) {
    .header-wraper {
        margin-left: 800px;
        
    }
    .navigation {
        display: none;}
    .burger-bar {
        display: block;}
    }
@media (max-width: 1024px) {
    .head-block {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 100px;}
    .left-block { 
        margin-top: 100px;
        margin-left: 500px;}}
@media (max-width:1024px){
    .div-box {
        flex-direction: column;
        align-items: center;
    } 
    .box:nth-child(2) {
        margin: 60px 0;
    }
}